![title](static/wcar.png)
#  Analysis of ss-oligo mediated editing

    Wellcome Centre for Anti-Infectives Research
    School of Life Sciences, University of Dundee

In [2]:
from Bio import SeqIO
from Bio.Seq import Seq
import gzip
import re
from tqdm import tqdm_notebook
import pandas as pd

In [6]:
#import multiprocessing
#import time

#from tqdm import tqdm
#from joblib import Parallel, delayed

In [7]:
gencode = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'*', 'TAG':'*',
    'TGC':'C', 'TGT':'C', 'TGA':'*', 'TGG':'W'}
gene_count = {}
for n in gencode:
    gene_count[n]=0
gene_count['failed']=0

In [8]:
r_query = 'AAGTC(...)AAGCTGGACG'
f_query = 'CGTCCAGCTT(...)GACTT'
patterns = [f_query,r_query]


primer_f = 'TGCTGTGAAAAAGTTGCATGA'
primer_r = 'CAGGCGGGCGATAGTTAAG'



def find_codon(inseq):
    found = ''
    out = re.findall(f_query, inseq)
    if len(out) > 0:
        temp_f = out[0]
        found = temp_f
        return found
          
    out = re.findall(r_query, inseq)
    if len(out) > 0:
        temp_r = out[0]
        dna = Seq(temp_r)
        temp_r = str(dna.reverse_complement())
        found = temp_r
        return found
    
    return found
        

def out_codon(indata):
    r1, r2 = indata[0],indata[1]
    out_1 = find_codon(str(r1.seq))
    out_2 = find_codon(str(r2.seq))
    if (out_1 == out_2) and (len(out_1) == 3) and ('N' not in out_1):
        return out_1
    else:
        return 'failed'

#all_df = []
#replace_list = eval(open('vars5.txt').read())
#for n in tqdm_notebook(replace_list):
#    t_gene_count = gene_count.copy()
#    f_1 = n['experiment']+'/'+'data'+'/'+n['base_fastq']+'1.fq.gz'
#    f_2 = n['experiment']+'/'+'data'+'/'+n['base_fastq']+'2.fq.gz'
#    print(f_1,f_2) 
#    file_1 = SeqIO.parse(gzip.open(f_1,"rt"),"fastq")
#    file_2 = SeqIO.parse(gzip.open(f_2,"rt"),"fastq")
    
#    count=0    
#    for r1,r2 in tqdm_notebook(zip(file_1,file_2)):
#        count+=1
#        t_gene_count[out_codon((r1,r2))]+=1
#    t_gene_count = pd.DataFrame.from_dict(t_gene_count,orient='index')
#    t_gene_count.columns = [n['experiment']]
#    all_df.append(t_gene_count)
    
    

#from multiprocessing import Pool
#if __name__ == '__main__':
#    with Pool(processes=4) as pool:
#        all_codons = pool.map(out_codon, [(r1,r2) for r1,r2 in zip(file_1,file_2)])
    #for r1,r2 in tqdm_notebook(zip(file_1,file_2)):
    #    all_codons.append(out_codon((r1,r2)))

In [10]:
all_files = []
replace_list = eval(open('vars5.txt').read())
for n in tqdm_notebook(replace_list):
    t_gene_count = gene_count.copy()
    f_1 = n['experiment']+'/'+'data'+'/'+n['base_fastq']+'1.fq.gz'
    f_2 = n['experiment']+'/'+'data'+'/'+n['base_fastq']+'2.fq.gz'
    all_files.append((f_1,f_2,n) )
all_files

HBox(children=(IntProgress(value=0, max=9), HTML(value='')))

[('1-Amp/data/V350002156_L1_TRYlhwR021518-521_1.fq.gz',
  '1-Amp/data/V350002156_L1_TRYlhwR021518-521_2.fq.gz',
  {'experiment': '1-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021518-521_'}),
 ('2-Amp/data/V350002156_L1_TRYlhwR021519-522_1.fq.gz',
  '2-Amp/data/V350002156_L1_TRYlhwR021519-522_2.fq.gz',
  {'experiment': '2-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021519-522_'}),
 ('3-Amp/data/V350002156_L1_TRYlhwR021520-523_1.fq.gz',
  '3-Amp/data/V350002156_L1_TRYlhwR021520-523_2.fq.gz',
  {'experiment': '3-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021520-523_'}),
 ('5-Amp/data/V350002156_L1_TRYlhwR021522-525_1.fq.gz',
  '5-Amp/data/V350002156_L1_TRYlhwR021522-525_2.fq.gz',
  {'experiment': '5-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021522-525_'}),
 ('6-Amp/data/V350002156_L1_TRYlhwR021523-526_1.fq.gz',
  '6-Amp/data/V350002156_L1_TRYlhwR021523-526_2.fq.gz',
  {'experiment': '6-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021523-526_'}),
 ('7-Amp/data/V350002156_L1_TRYlhwR021524-527_1.fq.gz',
  '7-Amp/data/V350002156_L1_TRYlhwR021524-527_2.fq.gz',
  {'experiment': '7-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021524-527_'}),
 ('8-Amp/data/V350002156_L1_TRYlhwR021525-528_1.fq.gz',
  '8-Amp/data/V350002156_L1_TRYlhwR021525-528_2.fq.gz',
  {'experiment': '8-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021525-528_'}),
 ('9-Amp/data/V350002156_L1_TRYlhwR021526-529_1.fq.gz',
  '9-Amp/data/V350002156_L1_TRYlhwR021526-529_2.fq.gz',
  {'experiment': '9-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021526-529_'}),
 ('10-Amp/data/V350002156_L1_TRYlhwR021527-530_1.fq.gz',
  '10-Amp/data/V350002156_L1_TRYlhwR021527-530_2.fq.gz',
  {'experiment': '10-Amp',
   'g_version': 'tb427',
   'base_fastq': 'V350002156_L1_TRYlhwR021527-530_'})]

In [12]:
%%time
def count(indata):
    t_gene_count = gene_count.copy()
    f_1,f_2,n = indata[0],indata[1],indata[2]
    file_1 = SeqIO.parse(gzip.open(f_1,"rt"),"fastq")
    file_2 = SeqIO.parse(gzip.open(f_2,"rt"),"fastq")
    count=0
    print('processing: '+n['experiment'])
    for r1,r2 in zip(file_1,file_2):
        count+=1
        t_gene_count[out_codon((r1,r2))]+=1
    t_gene_count = pd.DataFrame.from_dict(t_gene_count,orient='index')
    t_gene_count.columns = [n['experiment']]
    print('done:'+n['experiment'])
    return t_gene_count
    
from multiprocessing import Pool
if __name__ == '__main__':
    with Pool(processes=10) as pool:
        all_df = pool.map(count, all_files)
len(all_df)

CPU times: user 1.04 s, sys: 462 ms, total: 1.5 s
Wall time: 20min 44s

9

In [13]:
experiments = [n['experiment'] for n in replace_list]
experiments

['1-Amp',
 '2-Amp',
 '3-Amp',
 '5-Amp',
 '6-Amp',
 '7-Amp',
 '8-Amp',
 '9-Amp',
 '10-Amp']

In [14]:
all_df = pd.concat(all_df,axis=1)
all_df.head()

,1-Amp,2-Amp,3-Amp,5-Amp,6-Amp,7-Amp,8-Amp,9-Amp,10-Amp
ATA,1911,1892,1069492,354189,1090241,970742,855893,1923573,1038446
ATC,872,906,239655,1209550,600726,430627,397423,380214,424677
ATT,6952,6772,688034,5959857,6412945,2324347,1755615,4255701,4450371
ATG,326,395,434651,1020,817,237704,266081,8262,47793
ACA,1127,1262,968515,1915,1185,1456942,1393433,1788,2342

In [15]:
all_df = all_df[experiments]
all_df.to_csv('all_df.csv')

In [5]:
all_files = []
replace_list = eval(open('vars5.txt').read())
for n in tqdm_notebook(replace_list):
    print(n['experiment']+'/'+'res')

HBox(children=(IntProgress(value=0, max=9), HTML(value='')))

1-Amp/res
2-Amp/res
3-Amp/res
5-Amp/res
6-Amp/res
7-Amp/res
8-Amp/res
9-Amp/res
10-Amp/res

ls: cannot access 2-Amp/res: No such file or directory